.center {
  text-align: center;
}

.container.padding-top {
  padding-top: 2%;
}

.padding-sides {
  padding-left: 5%;
  padding-right: 5%;
}

.padding-top {
  padding-top: 1%;
}

.center-div {
  margin: 10%;
  width: 50%;
  padding-top: 20%;
}

.li-font {
  font-size: 12px;
}

.green {
  color: #97cd34;
}

.yellow {
  color: #ffd036;
}

.hr {
  background-color: #c80000;
  color: #c80000;
  -webkit-transform: rotate(90deg);
  position: absolute;
  left: 130px;
  border: 2px;
}

.line {
  position: absolute;
  left: 49%;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #ccc;
  z-index: 1;
}

.fancy {
  font-weight: 400;
  font-style: oblique;
  margin-top: 10px;
  margin-bottom: 15px;
}

.flex {
  flex: auto;
}
